<div class="form-group">
  <label for="title">Title</label>
  <input required value="" type="text" name="title" id="title" class="form-control">
</div>
<div class="form-group">
  <label for="description">Description</label>
  <textarea name="description" id="description" class="form-control"></textarea>
</div>
<div class="form-group">
  <label for="tags">Tags for article</label>
  <input value="" type="text" name="tags" id="title" class="form-control">
</div>
<div class="form-group">
  <label for="exampleFormControlFile1">Example file input</label>
  <input type="file"  name="image" class="form-control-file" id="exampleFormControlFile1">
</div>


<a href="/articles" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>