<div class="form-group">
  <label for="login">Username</label>
  <input  value="" type="text" name="login" id="login" class="form-control">
</div>

<div class="form-group">
  <label for="email">Email</label>
  <input required value="" type="email" name="email" id="email" class="form-control">
</div>

<div class="form-group">
  <label for="password">Password</label>
  <input required type="password" name="password" id="password" class="form-control">
</div>

<a href="/articles" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Sign Up</button>