<header>
      <div class="navv navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="/articles" class="navbar-brand d-flex align-items-center">
            <strong>Logo</strong>
          </a>
        </div>
        {{#if login}}
           <div class="account-data">
                {{login}} | {{email}}
                {{> _logout_partial}}
           </div>
        {{else}}
               <div class="justify-content-end auth-btns">
                    {{#if showData.showLoginBtn}}
                      <a href="/auth/login" class="btn btn-secondary login">Login</a>
                    {{/if}}
                    {{#if showData.showRegisterBtn}}
                      <a href="/auth/register" class="btn btn-secondary">Register</a>
                    {{/if}}
               </div>
        {{/if}}
      </div>
</header>